@charset "utf-8";
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
.logo {
	padding:0;
}
#myCarousel {
	margin: 50px 0 0 0;
}
#navbar-collapse ul {
	margin-top:0;
}
.carousel-inner img {
	margin: 0 auto;
}
/*.carousel-control {
	font-size: 100px;
}*/
.tab-h2 {
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
	color: #0059b2;
}
.tab-p {
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	color: #999;
	margin: 20px 0 40px 0;
}
.tab1 {
	margin: 30px 0;
	color: #666;
}
.tab1 .text-muted {
	color: #999;
	text-decoration: line-through;
}
.tab1 .media-heading {
	margin: 5px 0 20px 0;
}
.tab1 .col {
	padding: 20px;
}

/*没有小于768px，是因为Bootstrap3以移动端优先设计*/

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.tab-h2 {
		font-size: 26px;
	}
	.tab-p {
		font-size: 16px;
	}
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	.tab-h2 {
		font-size: 28px;
	}
	.tab-p {
		font-size: 17px;
	}
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.tab-h2 {
		font-size: 30px;
	}
	.tab-p {
		font-size: 18px;
	}
}